backend/.venv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# DB
*.db
*.sqlite
*.sqlite3

# Office 临时文件
~$*.docx
~$*.xlsx
~$*.pptx

# 打包文件
*.zip

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/